:root {
  /**root color styles**/
  --primary: #ffb400;

  --primary_l: #ffc333;
  --primary_d: #cc9000;
  --primary_ll: #ffe9b3;
  --text_d: #111111;
  --text_l: #111111ce;
  --background_d: #f6f6f6;
  --background_p: #F6F4EE;
  --background_l: white;
  --border_p_s: 0.01em solid var(--primary_ll);
  --border_p_m: 0.1em solid var(--primary_ll);
  --border_d: 0.01em solid var(--primary_d);
  --border_l: 0.01em solid var(--background_p);

}

.navbar p,
li,
.btn,
input,
a,
.form-control,
.form-select,
option {
  font-family: 'Varela Round', sans-serif;
  color: var(--text_d) ;
}





.nav_cta {
  border-color: var(--primary_ll);
  color: var(--text_d);
  background-color: var(--primary_l);
  width: 8em;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
}

.nav_cta:hover {
  background-color: var(--background_l);
  border-color: var(--background_l);
  color:var(--text_d) !important;
  font-weight: 500;
  box-shadow: 1px 1px 0.8em #11111126;
}

.navbar input {
  background-color: var(--background_l);
  border-color: transparent;
}

.navbar a:hover {
  color: var(--primary_ll);
}



.navbar .dropdown-item {
  color: var(--text_d);
  text-transform: capitalize;
}

.navbar .dropdown-item:hover {
  background-color: var(--primary_ll);
  color: var(--text_d);
}

.navbar .dropdown-menu {
  border-color: var(--background_p);
}

.navbar {
  background-color: var(--primary);
}